#popup-view {
  width: 500px;
  padding: 1em;
}

#profile-wrapper,
#actions-wrapper {
  margin-bottom: 1em;
}

.avatar {
  display: inline-block;
  vertical-align: middle;
}

.username {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  margin-left: .6em;
}

.add-button {
  background: #4CAF50;
}

.add-button:active:enabled,
.add-button:focus:enabled,
.add-button:hover:enabled {
  background: #8BC34A;
}

.tracked-item-list {
  padding-top: 1em;
  padding-left: 0;
  list-style-type: none;
  border-top: 1px solid #ddd;
}

.tracked-item-list__tracked-item {
  clear: both;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
}

.tracked-item-list__tracked-item:last-child {
  margin-bottom: 0;
}

.tracked-item-list__tracked-item__link {
  font-size: .9em;
}

.tracked-item-list__tracked-item__button {
  float: right;
  width: 1.9em;
  height: 1.9em;
  padding: .2em .6em;
  font-size: .8em;
  text-indent: -.08em;
  background: #F44336;
  border-radius: 1em;
}

.tracked-item-list__tracked-item__button:active,
.tracked-item-list__tracked-item__button:focus,
.tracked-item-list__tracked-item__button:hover {
  background: #FF5722;
}
